<form (submit)="onlogin(loginform)" #loginform="ngForm" class="container">
    <input type="text"
           ngModel name="enteredusername"
           placeholder="username"
           required
           style="margin-top: 10px;"
           class="col-sm-2 col-form-label"
           minlength="1"
           pattern="^[a-zA-Z0-9\s_-]+$"
           #enteredUsername="ngModel"/>
    <div *ngIf="enteredUsername.invalid && (enteredUsername.dirty || enteredUsername.touched)">invalid</div>
    <br>
    <input type="text"
           ngModel name="enteredpassword"
           placeholder="password"
           required
           style="margin-top: 10px;"
           class="col-sm-2 col-form-label"
           minlength="1"
           pattern="^([a-zA-Z0-9\s_-]{8,15})$"
           #enteredPassword="ngModel"/>
    <div *ngIf="enteredPassword.invalid && (enteredPassword.dirty || enteredPassword.touched)">invalid</div>
    <br>
    <button type="submit"
    class="btn btn-primary "
    style="margin: 5px;"
    >{{ option }}</button>
  </form>
  