.fruit-card {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fruit-card h2 {
    margin: 0;
    color: #333;
}

.fruit-card h3 {
    margin: 0.5em 0;
    color: #666;
}

.delete-button {
    float: right;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }